
  <div class="row">
    <div class="col4"><h1>Big image</h1></div>
    <div class="col8"><h1>asdfasdfasdfasdfsadf</h1></div>
    <div class="row-end">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col5"><h1>Events</h1></div>
    <div class="col7"><h1>Graph</h1></div>
    <div class="row-end">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col12"><h1>Slim sign up form</h1></div>
    <div class="row-end">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col4"><h1>Another big image</h1></div>
    <div class="col8">
      <h1>eSports eXposure monitors the health of your favorite competitive games</h1>

      <p>
        With the help of users, Game Tracker will collect information about eSports and their events - information like
        tournament dates and their prize pools, the number of competitors in each tournament, and concurrent viewers on
        streams.
      </p>

      <div class="row">
        <div class="col4 nomargin">
          <p>
            <strong>Discover new streams</strong><br/>
            Find out who's streaming now! Browse the most popular streamers by game or by streamer.
          </p>
        </div>
        <div class="col4">
          <p>
            <strong>Monitor eSports health</strong><br/>
            Track how well competitive games have fared over time by tournament count or by prize pools.
          </p>
        </div>
        <div class="row-end">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col4 nomargin">
          <p>
            <strong>Track your favorite games</strong><br/>
            Never miss out on the upcoming tournaments. Sign in now to customize your feed.
          </p>
        </div>
        <div class="col4">
          <p>
            <strong>Compare games</strong><br/>
            Compare games to see how they stack up to each other by a number of variables.
          </p>
        </div>
        <div class="row-end">&nbsp;</div>
      </div>
    </div>
    <div class="row-end">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col4"><h1>Biggest Events</h1></div>
    <div class="col4"><h1>Popular Games</h1></div>
    <div class="col4"><h1>Prominent Streams</h1></div>
    <div class="row-end">&nbsp;</div>
  </div>
