<%= form_for(@developer) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%= render 'fields', :f => f %>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
<% end %>