<% if @soon_tournaments.empty? && @current_tournaments.empty? %>
  <h1>No current activity</h1>
<% else %>
  <h2>What's Happening Now</h2>
  <%= render partial: 'home_current_items', locals: { tournaments: @current_tournaments } %>
  <h2>What's Happening Soon</h2>
  <%= render partial: 'home_soon_items', locals: { tournaments: @soon_tournaments } %>
<% end %>
