<h1><%= @user.name %></h1>
<ul class="user-show-stats">
  <li>Contributions: <%= @user.feed_items_as_owner.count %></li>
  <li>Followed Games: <%= @user.games.count %></li>
  <li>Followed Tournaments: <%= @user.tournaments.count %></li>
</ul>