<h1 class="content-header">Live & Upcoming Tournaments <span class="header-subtext"><%= link_to "browse all", table_tournaments_path %></span></h1>
<% @tournaments.each do |t| %>
    <%= render 'normal', :t => t %>
<% end %>

<p><%= link_to "New tournament", new_tournament_path %></p>
