<h2>Recent & Upcoming Tournaments<span class="heading_sublink"> <%= link_to "browse all tournaments", table_tournaments_path %></span></h2>
<div class="upcoming_tournaments">
  <% @tournaments.each do |t| %>
    <%= render 'compact', :t => t %>
  <% end %>
</div>

<p><%= link_to "New tournament", new_tournament_path %></p>
