<ol class="feed">
  <% @tournaments.each do |t| %>
    <li>
      <%= t.name %>, <%= link_to "show", tournament_path(t) %>, <%= link_to "edit", edit_tournament_path(t) %>
    </li>
  <% end %>
</ol>

<p><%= link_to "New tournament", new_tournament_path %></p>
