@import "bootstrap";
@import "dataTables/jquery.dataTables";

.navbar-inner .container {
  width: 940px;
}

.header-subtext {
  position: relative;
  bottom: 4px;
  font-size: 0.5em;
}

.feed {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    &:first-child { border: none; }
  }
}

.feed-item-title {
  color: $grayLight;

  a {
    font-weight: bold;
    color: $grayLight
  }
}

.feed-item-title-subtext {
  font-size: 0.75em;

}

.feed-item-name {
  display: block;
  font-size: 1.1em;
}

.feed-item-information {
  list-style: none;
  margin: 0 0;

  li {
    padding: 0px 0;
    border: none;
  }
}

.mini-image {
  vertical-align: text-top;
}