body { 
  padding-top: 60px;
}

img.listing-game-icon {
  vertical-align: middle;
}

.listing {
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-repeat: repeat-x;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 9px;
}

.listing-description {
  width: 97%;
}

.listing-submit-info {
  font-size: 11px;
  color: #CACACA;
}

// .navbar-inner .container {
//   width: 940px;
// }

// .header-subtext {
//   position: relative;
//   bottom: 4px;
//   font-size: 0.5em;
// }

// .h1-subtext {
//   color: $grayLight;
//   font-size: 0.5em;
// }

// .feed {
//   list-style: none;
//   margin: 10px 0 0 0;

//   .feed-item {
//     padding: 10px 0;
//     border-top: 1px solid #e8e8e8;
//     &:first-child { border: none; }
//   }
// }

// .feed-item-title {
//   color: $grayLight;

//   a {
//     font-weight: bold;
//     color: $grayLight
//   }
// }

// .feed-item-title-subtext {
//   font-size: 0.75em;

// }

// .feed-item-name {
//   display: block;
//   font-size: 1.1em;
// }

// .feed-item-information {
//   list-style: none;
//   margin: 0 0;

//   li {
//     padding: 0px 0;
//     border: none;
//   }
// }

// .mini-image {
//   vertical-align: text-top;
// }

// .feed-img {
//   display: block;
//   float: left;
//   max-width: 300px;
//   margin-left: 20px;
// }