nav.dashboard {
  font-size: 1.5em;
  border-bottom: 2px solid black;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding-right: 10px;
      list-style-type: none;
      display: inline-block;
    }
  }
}

/*div.events, div.streams {*/
  /*border: 1px solid black;*/
/*}*/

div.events, div.streams {
  margin-left: 70px;
}

span.sidebar_header {
  display: block;
  font-size: 1.5em;
  border-bottom: 2px solid black;
}

ul.sidebar_list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding-bottom: 20px;
  }
}

.sidebar_tournament_name {
  display: block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px auto;
}

span.sidebar_event_name {
    position: relative;
    left: 35px;
}

span.sidebar_right_float {
  float: right;
}