
@charset "UTF-8";

@font-face {
  font-family: "landing";
  src: url('<%= asset_path('fonts/landing.eot') %>');
  src: url("<%= asset_path('fonts/landing.eot#iefix') %>") format("embedded-opentype"),
       url("<%= asset_path('fonts/landing.ttf') %>") format("truetype"),
       url("<%= asset_path('fonts/landing.svg') %>") format("svg"),
       url("<%= asset_path('fonts/landing.woff') %>") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "landing";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "landing";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}


.icon-trophy:before {
  content: "a";
}

.icon-chart-line:before {
  content: "b";
}

.icon-fontawesome-webfont:before {
  content: "c";
}

.icon-news:before {
  content: "d";
}

