/* Temp */
/*h1, h2, h3, p, nav {*/
/*border: solid 1px #000;*/
/*}*/

.back_link {
  display: block;
  margin-top: 5px;
}

span.events {
  float: right;
}

.temp {
  float: right
}

a {
  color: blue;
  text-decoration: none;
}

div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11, div.col12, div.row, div.layout, div.row-end {
  border: none;
}

header {
  background-color: darken(#F7F9FE, 5);
  border-bottom: 2px solid darken(#F7F9FE, 20);
  margin-bottom: 20px;
  padding: 5px 0;

}

h1#header_logo {
  width: grid-width(12);
  display: block;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: 0px auto;
  padding: 0;
  font-size: 2em;
  text-shadow: 0px 2px 3px #555;
  font-family: $georgia;
  a{ color: #222; }
}

nav#header_nav {
  float: right;
  ul {
    margin: 0;
    padding: 0;

    li {
      padding-right: 10px;
      list-style-type: none;
      display: inline-block;
    }
  }
}

#error_explanation {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}

#error_explanation {
  background: #fbe3e4;
  color: black;
  border-color: #fbc2c4;
}

/* End Temp */
body {
  margin: 0;
  padding: 0;
  background-color: #F7F9FE;
  font-size: 14px;
  font-family: $helvetica;

}

div.layout {
  width: grid-width(12);
  margin: 0px auto;
  background-color: #F7F9FE;
}

div.row {
  height: 1%;
  padding-bottom: 20px;
}

div.row-end {
  clear: both;
  font: 1px/1px sans-serif;
  height: 1px;
  overflow: hidden;
}

div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11, div.col12 {
  float: left;
  margin-left: $gw-gutter;
}

div.nomargin {
  margin-left: 0px;
}

div.col1:first-child, div.col2:first-child, div.col3:first-child, div.col4:first-child, div.col5:first-child, div.col6:first-child, div.col7:first-child, div.col8:first-child, div.col9:first-child, div.col10:first-child, div.col11:first-child, div.col12:first-child {
  margin-left: 0px;
}

div .col1 {
  width: grid-width(1);
}

div .col2 {
  width: grid-width(2);
}

div .col3 {
  width: grid-width(3);
}

div .col4 {
  width: grid-width(4);
}

div .col5 {
  width: grid-width(5);
}

div .col6 {
  width: grid-width(6);
}

div .col7 {
  width: grid-width(7);
}

div .col8 {
  width: grid-width(8);
}

div .col9 {
  width: grid-width(9);
}

div .col10 {
  width: grid-width(10);
}

div .col11 {
  width: grid-width(11);
}

div .col12 {
  width: grid-width(12);
}

/* Form Styling */

.simple_form {
  margin-top: 20px;

  a {
    margin-left: 10px;
  }
}

.simple_form label {
  float: left;
  width: 170px;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form input[type='submit'] {
  margin-left: 5px;
}

.simple_form .error {
  display: block;
  margin-left: 180px;
  color: #D00;
}

abbr[title] {
  border-bottom: none;
}

