// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Streams Index
div#popular_streams {
  display: block;
  overflow: hidden;
}

div#popular_streams > *:nth-child(even) {
  margin-left: 72px;
}

div.popular_stream {
  float: left;
  padding-bottom: 20px;
  width: 285px;
}

span#popular_stream_viewers {
  float: right;
}