// Place all the styles related to the Tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.heading_sublink {
  font-size: 50%;
  vertical-align: 2px;
}

span.tournament_desc {
  display: block;
  width: 90%;
  position: relative;
  left: 32px;
}

span.tournament_submitter {
  position: relative;
  left: 35px;
}

div.tournament_info, div.tournament_stats, div#tournament_left, div#tournament_right {
  display: block;
  float: left;
  margin: 0px auto;
}

div.upcoming_tournaments, div#tournament_show {
  display: block;
  overflow: hidden;
}

div.upcoming_tournaments > *:nth-child(even) {
  margin-left: 72px;
}

div.upcoming_tournament {
  float: left;
  padding-bottom: 20px;
}

div.tournament_info {
  width: 200px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.tournament_stats {
  width: 85px;
  text-align: right;
}

p {
  clear: both;
}

table#tournaments {
  tr {
    text-align: center
  }
  margin-bottom: 5px;
}

div#tournaments_wrapper {
  overflow: hidden;
  margin-top: 20px;
}

.num_competitors {
  position: relative;
  left: -4px;
}

// Tournament show page

div#tournament_show_stats {
  overflow: hidden;
  font-size: 2em;
  margin-top: 20px;

  img {
    vertical-align: middle;
  }
}

div#tournament_left {
  max-width: 360px;
}

div#tournament_right {
  float: right;
}

span#tournament_name {
  font-size: 2em;
}

span#tournament_game {
  font-size: 2em;
}

span#submitter_subtext {
  font-size: 0.85em;
  color: grey;
}

div#tournament_show_date, div#tournament_show_prize, div#tournament_show_competitors {
  display: block;
  float: left;
  width: 214px;
  margin: 0px auto;
}

table#tournament_show_stats {
  margin-top: 20px;
  width: 100%;
  font-size: 1.5em;

}

img.tournament_show_stat {
  float: none;
  vertical-align: middle;

}

h2#tournament_event_heading {
  font-size: 1.65em;
  margin-bottom: 5px;
}

div#tournament_events {
  font-size: 1.25em;
  img {
    vertical-align: text-top;
    padding-right: 3px;
  }
  ul {
    display: block;
    margin: 0px 0px 30px 0px;
    padding: 0;

    li {
      padding: 0px 0px 5px 0px;
      list-style-type: none;
    }
  }
}